<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title><strong>Ajouter une nouvelle catégorie</strong></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating" >Entrer ici une nouvelle catégorie</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!ionicForm.valid" type="submit" color="danger" expand="block" (click)="saveCategory()">Enregistrer</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

