<ion-header>
    <ion-toolbar>
      <ion-title>Notes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block" [routerLink]="['/add-category']">Ajouter une nouvelle catégorie</ion-button>
          </ion-col>
      </ion-row>
    <ion-list>
      <ion-item *ngFor="let cr of classrooms" routerLink="/notes/{{cr.id}}">
        <ion-icon name="desktop" slot="start"></ion-icon>
        {{cr.title}}
        <div class="item-note" slot="end">
          <button ion-button color="light" routerLink="/notes/edit/{{cr.id}}">Editer</button>
          &nbsp;
          <button ion-button color="light" (click)="delete(cr.id)">Supprimer</button>
        </div>
        
      </ion-item>
    </ion-list>
    <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
  </ion-content>
  