<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><strong>Editer la note</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating" >Modifier le titre</ion-label>
      <ion-input type="text" formControlName="title" required ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating" >Modifier le contenu</ion-label>
      <ion-input type="text" formControlName="content" required></ion-input>
    </ion-item>
        
    <ion-item lines="full">
      <ion-item>
        <ion-label >Choisir une catégorie</ion-label>
        <ion-select placeholder="Sélectionner" formControlName="category" okText="Ok"  cancelText="Annuler" >
          <ion-item *ngFor="let c of categories" >
            <ion-select-option selected="true" value="{{c.id}}&&&{{c.name}}">{{c.name}}</ion-select-option>
          </ion-item>
        </ion-select>
      </ion-item>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="!ionicForm.valid" type="submit" color="danger" expand="block" (click)="updateNote()">Enregistrer</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>