<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><strong>Titre : {{note.title}}</strong></ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon style="color:brown" name="document-text-outline" slot="start"></ion-icon>
      <ion-row>
        <ion-col><strong>Contenu</strong> : {{note.content}}</ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-icon style="color:cyan" name="calendar-outline" slot="start"></ion-icon>
      <ion-row>
        <ion-col><strong>Date</strong> : {{note.date}}</ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-icon style="color:yellow" name="bookmark" slot="start"></ion-icon>
      <ion-row>
        <ion-col><strong>Catégorie(s)</strong> : {{note.category}}</ion-col>
      </ion-row>
    </ion-item>           
  </ion-list>
</ion-content>
