<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Liste des catégories</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <ion-row>
        <ion-col>
          <ion-nav-link href="#" routerLink="/add-category">
            <ion-button type="submit" color="danger" expand="block" >Ajouter une nouvelle catégorie</ion-button>
          </ion-nav-link> 
        </ion-col>
    </ion-row>

    <ion-searchbar showCancelButton="never" (ionChange)="filterList($event)"></ion-searchbar>
    
    <ion-list *ngFor="let c of categories">
        <ion-item-sliding >
          <ion-item>
            <ion-icon style=" color:yellow" name="bookmark" slot="start"></ion-icon>
            {{c.name}}
            <ion-icon class="ios-add-size icon icon-md ios-arrow-forward"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <button ion-button style="background-color:green; color:white" routerLink="/categories/{{c.id}}">Editer</button>
            <button ion-button style="background-color:red; color:white" (click)="deleteCategory(c.id)">Supprimer</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>
