<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Liste des catégories</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
  <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" [routerLink]="['/add-category']">Ajouter une nouvelle catégorie</ion-button>
        </ion-col>
    </ion-row>
  <ion-list>
    <ion-item *ngFor="let cr of classrooms">
      <ion-icon name="bookmark" slot="start"></ion-icon>
      {{cr.name}}
      <div class="item-note" slot="end">
        <button ion-button color="light" routerLink="/categories/{{cr.id}}">Editer</button>
        &nbsp;
        <button ion-button color="light" (click)="delete(cr.id)">Supprimer</button>
      </div>
      
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
